/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* CSS Variables */
:root {
    --primary-color: #233819;
    --secondary-color:  #0A3D24;
    --primary-font: 'Karla', sans-serif; /* Main font for the website */
    --secondary-font: 'Cormorant Garamond', serif; /* Font for headings and special text */
    --hover-color: #E9C46A; /* Light yellow color for hover effect on navbar links */
    --color-background: #fdf9f6;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    padding-bottom: 72px; /* Space for the fixed footer */
    background-color: var(--color-background)/* Light background color */
}

/* Navbar */
.navbar {
    background-color: var(--secondary-color);
    padding-bottom: 0;
}

.nav-item > a {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}

/* To make the active link more visible */
.active {
    color: white !important; /* Active link color */
    text-decoration: underline; /* Underline for active link */
}

.nav-item > a:hover{
    color: var(--hover-color);
    font-weight: bolder;
}

/* Change the color of the toggle button to white */
.navbar-toggler {
    border-color: white; /* Optional: white border */
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Returning the toggle to white */
.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
    border-color: white;
}

/* Change the color of the toggle button to yellow when hovered */
.navbar-toggler:hover {
    border-color: var(--hover-color); 
}
.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23E9C46A' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Forms */
/* Change the border color to white */
form .search {
    border: none;
}
/* Change the input search border to none */
form input[type="search"] {
    border: none;
}

/* Change the color of the background search button to green */
.search {
    background-color: var(--secondary-color);
}

.search:hover {
    background-color: green;
    border: 1px solid green;
}

/* Headings */
h1,
h2,
h3 {
    font-family: var(--secondary-font);
    
}

/* Hero section */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 8rem 0;
    color: white;
}

/* Main content */

/* Using width 80% to specific sections to make my homepage more dinamic 
    The .container is using 80% width and .container-fluid using 100% */
section .container,
article .container {
    max-width: 80%; /* Restrict the width to 80% of the viewport */
    margin: 0 auto; /* Center the container horizontally */
}

/* Quote section */
.blockquote p {
    color: #4F6F42;
}

.blockquote-footer {
    background-color: var(--color-background);
}

/* First introductory section */
.starting,
.pollinators,
.weeds {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Ensures the image is centered */
    color: white;
    font-weight: bolder;

    /* Ensure sections adjust height based on content */
    min-height: 50vh; /* Adjusts height to be responsive */
    text-align: center; /* Centers text */
    padding: 2rem; /* Adds padding for better spacing */
}

.starting {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/getting-started.jpg");
}

.pollinators {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/bee.jpg");
}

.weeds {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/dandelion.jpg");
}

/* Carousel */
.carousel-inner img {
    height: 600px; /* Set a fixed height */
    width: 100%; /* Ensure the image spans the full width of the carousel */
    object-fit: cover; /* Ensures the image maintains its aspect ratio and fills the container */
}

/* A background image to the message about seasons */
#seasons .calendar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/calendar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Ensures the image is centered */
    color: white;
    font-weight: bolder;

    /* Ensure sections adjust height based on content */
    min-height: 50vh; /* Adjusts height to be responsive */
    text-align: center; /* Centers text */
    padding: 2rem; /* Adds padding for better spacing */
}

/* Cards section style */
.card {
    min-height: 200px; /* Set your desired minimum height */
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.055); /* Adds a shadow effect */
}

.card-img-top {
    width: 100%; /* Ensures the image spans the full width of the card */
    height: 250px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image is cropped to fit the dimensions without distortion */
    border-radius: 0;
}

.card-title,
.card-text {
    color: var(--primary-color);
}

/* Seasons html */

/* Adjust the color of the badges and timeline border to custom colors */
.border-spring {
    border-color: #A87DBD !important; /* Light pink color */
}
.badge-spring {
    background-color: #A87DBD; /* Light pink color */
}

.border-autumn {
    border-color: #925148 !important; /* Light pink color */
}
.badge-autumn {
    background-color: #925148; /* Light pink color */
}

/* Add background images to the seasons cards and style it */
.winter-card,
.spring-card,
.summer-card,
.autumn-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Ensures the image is centered */
    border:white;
}
.winter-card {
    background-image: url(../images/ice.png);
    background-color: rgba(255,255,255,0.6); /* Light background color */
    background-blend-mode: lighten; /* Blends the image with the background color */
}

.spring-card {
    background-image: url(../images/flowers.png);
}

.summer-card {
    background-image: url(../images/sun.png);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}

.autumn-card {
    background-image: url(../images/leaves.png);
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}

/* Style the images in the seasons cards */
.winter-card img,
.spring-card img,
.summer-card img,
.autumn-card img{
    width: 100%; /* Ensures the image spans the full width of the card */
    height: 250px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image is cropped to fit the dimensions without distortion */
    border-radius: 0;
}

/* Style the section to call the user to access our timeline seasons content */
#explore-timeline {
    font-size: large; /* Adjusts the font size */
}

#explore-timeline a{
    color: var(--primary-color); /* Adjusts the color of the text */
    font-weight: bolder; /* Makes the text bolder */
}

#explore-timeline img {
    opacity: 0.4; /* Adjusts the opacity of the image */
}

/* Increase the size of the seasons card when hovered */
a .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
a .card:hover {
transform: scale(1.03); /* Slightly increase the size */
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Deeper shadow for depth */
z-index: 1; /* Makes sure it appears above others if overlapping */
}
/* Finish seasons hmtl */

/* About Us section */

#about {
    background-image: url("../images/about-background.png");
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.9); /* Light background color */
    background-blend-mode: lighten; /* Blends the image with the background color, brings opacity to the image */
    background-position-y: bottom; /* Adjusts the vertical position of the background image to the bottom */
    background-position-x: right; /* Adjusts the horizontal position of the background image to the right */
}

/* Take out the values list item bullets */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Thank you section */
#thankyou img{
   opacity: 0.4; /* Adjusts the opacity of the image */
}

/* Footer */
footer {
    background-color: var(--secondary-color);
    padding-top: 20px;
}

/* Make the last row footer fixed */
.bottom-fixed {
    padding-top: 9px;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    z-index: 1000;
    background-color: var(--secondary-color);
}

/* Adjust the color of the links in the footer */
li > a{
    color: white
}

/* Change the color of the links in the footer when hovered */
li > a:hover{
    color: var(--hover-color);
    font-weight: bolder;
}

/* Adjust the color of the social media icons in the footer */
.social-media > a{
    color: white;
    font-size: 1.4rem;
}

/* Change the color of the social media icons in the footer when hovered */
.social-media > a:hover{
    color: var(--hover-color);
}

/* Adjust the max height of the image in the footer */
.footer-img {
    max-height: 93px;
}

/* This class is adjusting the links and image footer to its content */
.links {
    width: fit-content;
    padding-left: 12px;
}

/* Adjust the style subscribe button */
.subscribe {
    border: 2px solid white;
}
.subscribe:hover {
    background-color: green;
}

/* Fix the button to ocupy just its width content */
@media screen and (min-width: 320px) {
   .subscribe {
        width: fit-content;
        display: block;
        margin: 0 auto;
   }
}

/* Adjust the footer for larger screens 576px and up */
@media screen and (min-width: 576px) {
    body {
        padding-bottom: 48px; /* Space for the fixed footer */
    }
}
