/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* CSS Variables */
:root {
    --primary-color: #233819;
    --secondary-color:  #0A3D24;
    --primary-font: 'Karla', sans-serif;
    --secondary-font: 'Cormorant Garamond', sans-serif;
    --color-hover-navbar: #E9C46A;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    padding-bottom: 48px; /* Space for the fixed footer */
}

/* Navbar */
.navbar {
    background-color: var(--secondary-color);
    padding-bottom: 0;
}

.nav-item > a {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}

.nav-item > a:hover{
    color: var(--color-hover-navbar);
    font-weight: bolder;
}

/* Remove default browser outline (it was blue, that didn't match with my navbar background color) */
input:focus {
    border: 3px solid green; /* Change border color on focus */
    outline: none; 
    box-shadow: none; 
} 

/* Remove default border on the input Search */
input {
    border: none; 
}

/* Created this class to change button type search to the same navbar background */
.search {
    background-color: var(--secondary-color);
}

.search:hover {
    background-color: green;
}

/* Headings */
h1,
h2,
h3 {
    font-family: var(--secondary-font);
}

/* Hero section */
.hero-section {
    background: url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 8rem 0;
    color: white;
}

/* Using width 80% to specific sections to make my homepage more dinamic 
    The .container is using 80% width and .container-fluid using 100% */
section .container {
    max-width: 80%; /* Restrict the width to 80% of the viewport */
    margin: 0 auto; /* Center the container horizontally */
}

/* Quote section */
.blockquote p {
    color: #4F6F42;
}


/* First introductory section */
.starting,
.pollinators,
.weeds {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Ensures the image is centered */
    color: white;
    font-weight: bolder;

    /* Ensure sections adjust height based on content */
    min-height: 50vh; /* Adjusts height to be responsive */
    text-align: center; /* Centers text */
    padding: 2rem; /* Adds padding for better spacing */
}

.starting {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/getting-started.jpg");
}

.pollinators {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/bee.jpg");
}

.weeds {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/dandelion.jpg");
}

/* Carousel */
.carousel-inner img {
    height: 600px; /* Set a fixed height */
    width: 100%; /* Ensure the image spans the full width of the carousel */
    object-fit: cover; /* Ensures the image maintains its aspect ratio and fills the container */
}

/* A background image to the message about seasons */
#seasons .calendar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/calendar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Ensures the image is centered */
    color: white;
    font-weight: bolder;

    /* Ensure sections adjust height based on content */
    min-height: 50vh; /* Adjusts height to be responsive */
    text-align: center; /* Centers text */
    padding: 2rem; /* Adds padding for better spacing */
}

/* Cards section style */
.card {
    min-height: 200px; /* Set your desired minimum height */
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.055); /* Adds a shadow effect */
}

.card-img-top {
    width: 100%; /* Ensures the image spans the full width of the card */
    height: 250px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image is cropped to fit the dimensions without distortion */
    border-radius: 0;
}

/* Footer */
footer {
    background-color: var(--secondary-color);
    padding-top: 20px;
}

/* Make the last row footer fixed */
.bottom-fixed {
    padding-top: 10px;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    z-index: 1000;
    background-color: var(--secondary-color);
}

/* Adjust the max height of the image in the footer */
.footer-img {
    max-height: 150px;
}

/* Fix the button to ocupy just its width content */
@media screen and (min-width: 320px) {
   .subscribe {
        width: fit-content;
        display: block;
        margin: 0 auto;
   }
}
