/* Hero section */
.hero-section {
    background: url("../images/hero1-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 8rem 0;
    color: white;
}



footer {
    background-color: green;
}

